.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 33px;
  width: 33px;
  color: black;
  filter: invert(100%);
 
}


.carousel-indicators .active{
  
  background-color: #0000ff;

}

